<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smartindia.hackathon.biotechnology">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity

            android:name=".login.view.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            android:theme="@style/AppTheme.NoActionBar" >

        </activity>
        <activity
            android:name=".home.Home_page"
            android:label="@string/title_activity_home_page"

            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>
        <activity
            android:name=".login.view.InstituteRegister"
            android:label="@string/title_activity_institute_register"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".SurveyUpload.View.Survey_Upload"
            android:label="@string/title_activity_survey__upload"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".splashScreen.view.SplashScreenActivity">

        </activity>
<activity android:name=".welcome.view.Welcome">

        <activity
            android:name=".MyProfile.view.MyProfileUpload"
            android:label="@string/title_activity_my_profile_upload"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />

    <intent-filter>
        <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        <category android:name="android.intent.category.LAUNCHER" />
    </intent-filter>



</activity>
        </activity>

        <activity
            android:name=".MyProfile.view.MyProfileUpload"
            android:label="@string/title_activity_my_profile_upload"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>